{erl_opts, [debug_info]}.
{minimum_otp_vsn, "20"}.
{deps, [
  %% hex deps
  hackney,

  %% github deps
  {erlxml, {git, "git://github.com/silviucpp/erlxml.git", {ref, "b328399d6751d2f18cab42c461aa4f384668c978"}}}
]}.
{shell, [
  {config, "config/sys.config"},
  {apps, [erlaws3]}
]}.
{plugins, [rebar3_hex]}.
