{erl_opts, [debug_info]}.
{minimum_otp_vsn, "20"}.
{deps, [
  %% hex deps
  hackney,

  %% github deps
  {erlxml, {git, "git://github.com/silviucpp/erlxml.git", {ref, "d324be4d5753d8d3598da9c85bdba381d6b773e7"}}}
]}.
{shell, [
  {config, "config/sys.config"},
  {apps, [erlaws3]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{plugins, [rebar3_hex]}.