{erl_opts, [debug_info]}.
{minimum_otp_vsn, "20"}.
{deps, [
  %% hex deps
  hackney,

  %% github deps
  {erlxml, {git, "git://github.com/silviucpp/erlxml.git", {ref, "caa7ed198f6e8569b6e058047394f3799a38fec7"}}}
]}.
{shell, [
  {config, "config/sys.config"},
  {apps, [erlaws3]}
]}.
{plugins, [rebar3_hex]}.
