[
  {erlaws3, [

    %% AWS keys
    {access_key, ""},
    {secret_key, ""},

    %% Make sure to define a reasonable upload timeout
    %% based on the chunk_size and max_retry parameters

    {max_retry, 3}, % multipart chunk upload retry
    {chunk_size, 5242880}, % multipart chunk split size (5MB-5GB)
    {chunk_upload_timeout, 60000} % multipart chunk upload timeout
  ]}
].